/* brand */
 .mui_brand_wrap{
     background:#f2f2f2;
     min-height:100%;
     padding-bottom:1.3513513513513513rem;
}
 .mui_brand_scrollBar{
     padding:0 0.2702702702702703rem;
     height:0.8108108108108109rem!important;
}
 .mui_brand_scrollWrap{
     height:0.8108108108108109rem!important;
     background:#fff;
     border-bottom:solid 0.02702702702702703rem #e2e2e2!important;
}
 .mui_brand_scrollBar .mui-active{
     color:#e71a8c!important;
}
 .mui_brand_scrollBar .mui-control-item{
     border-bottom: 0!important;
     padding: 0 0.10810810810810811rem!important;
     margin:0 0.16216216216216217rem!important;
     font-size:0.4rem!important;
     position:relative;
     height:0.8108108108108109rem;
     line-height:0.8648648648648649rem;
}
 .mui_brand_scrollBar .mui_brand_line{
     display:none;
}
 .mui_brand_scrollBar .mui-active .mui_brand_line{
     height:0.05405405405405406rem;
     display:inline-block;
     width:100%;
     background:#e71a8c;
     box-sizing: border-box;
     position:absolute;
     left:0;
     bottom:0;
}
 .mui_brand_hotList{
     padding:0.40540540540540543rem 0.32432432432432434rem 0;
     background:#fff;
     margin-bottom:0.2702702702702703rem;
}
 .mui_brand_hotList .mui-slider-item{
     width:3.3783783783783785rem!important;
     margin-left:1.0810810810810811rem;
}
 .mui_brand_hotList .mui-slider-item:first-child{
     margin-left:0;
}
 .mui_brand_hotTitle{
     font-size:0.35135135135135137rem;
     text-align:center;
     color:#000;
}
 .mui_brand_imgCase{
     width:3.3783783783783785rem;
     height:3.3783783783783785rem;
}
 .mui_brand_imgCase img{
     width:100%;
     height:100%;
}
 .mui_brand_decCase{
     padding: 0.40540540540540543rem 0.05405405405405406rem;
     ;
}
 .mui_brand_decTxt{
     font-size:0.2972972972972973rem;
     color:#000;
     line-height:0.40540540540540543rem;
     overflow : hidden;
     text-overflow: ellipsis;
     display: -webkit-box;
     -webkit-line-clamp: 2;
     -webkit-box-orient: vertical;
     margin-bottom:0.05405405405405406rem;
     word-break: break-all;
}
 .mui_brand_decPrice{
     font-size:0.2972972972972973rem;
     color:#ff0000;
     margin:0;
     height:0.40540540540540543rem;
     line-height:0.40540540540540543rem;
     overflow: hidden;
     white-space: nowrap;
     text-overflow: ellipsis;
}
 .mui_brand_buyLimit{
     padding:0.40540540540540543rem 0.32432432432432434rem;
     background:#fff;
}
 .mui_brand_buyLimitTitle{
     text-align:center;
}
 .mui_brand_buyLimitTitle .mui_labelDf{
     font-size:0.35135135135135137rem;
     color:#000;
     margin-right:0.21621621621621623rem;
}
 .mui_brand_buyLimitTitle .mui_labelDf_grayness{
     color:8a8a8a;
     font-size:0.24324324324324326rem;
     margin-right:0.05405405405405406rem;
}
 .mui_brand_buyLimitTitle .mui_timeDf{
     color:#ff0000;
     font-size:0.24324324324324326rem;
}
 .mui_brand_buyLimit_goods{
     margin:0.3783783783783784rem 0 0;
}
 .mui_brand_timeLimit_decCase{
     position:relative;
     padding-right:2.1621621621621623rem;
     margin:0;
     padding-top:0.24324324324324326rem;
}
 .mui_brand_timeLimit_imgCase img{
     width:100%;
}
 .mui_brand_timeLimit_decCase .mui_goodsTitleDf{
     font-size:0.35135135135135137rem;
     color:#000;
     margin:0;
     height:0.5405405405405406rem;
     overflow: hidden;
     white-space: nowrap;
     text-overflow: ellipsis;
}
 .mui_brand_timeLimit_decCase .mui_brand_Price{
     font-size:0.3783783783783784rem;
     color:#ff0000;
     margin:0;
     height:0.5405405405405406rem;
     overflow: hidden;
     white-space: nowrap;
     text-overflow: ellipsis;
}
 .mui_brand_timeLimit_decCase .mui_brand_oldPrice{
     font-size:0.24324324324324326rem;
     color:#808080;
     padding:0 0.13513513513513514rem;
     text-decoration: line-through;
}
 .mui_brand_timeLimit_decCase .mui_brand_buyBtn{
     position:absolute;
     right:0;
     bottom:0.13513513513513514rem;
     width:2.027027027027027rem;
     background:#ff0000;
     color:#fff;
     font-size:0.2972972972972973rem;
     border:0;
     border-radius:0.13513513513513514rem;
}
/*复用首页头部样式*/
 .mheader {
     display: flex;
     height: 1.1891891891891893rem;
     padding-top: 0.13513513513513514rem;
     position: relative;
     z-index: 2;
     background:#fff;
}
 .mheader .mui-search input[type=search] {
     background-color: #F2F2F2;
     border-radius: 0.40540540540540543rem;
}
 .mheader .mui-search.mui-active:before {
     top: 61%;
}
 .mheader .mleft {
     flex: 0 0 1.4054054054054055rem;
     text-align: center;
}
 .mheader .mui-input-row {
     flex: 1;
}
 .mheader .mui-mright {
     flex: 0 0 2rem;
     padding-left: 0.13513513513513514rem;
	 
}
.mheader .mright{
	padding-left: 0.13513513513513514rem;
    flex: 0 0 2rem;
	
}
 .icon {
     display: inline-block;
     width: 0.8918918918918919rem;
     height: 0.8918918918918919rem;
     background-size: contain;
     vertical-align: middle;
}
 .icon-menu {
     background-image: url(../img/menu.png);
}
 .icon-sweep {
     background-image: url(../img/sweep.png);
}
 .icon-message {
     background-image: url(../img/messge.png);
}
 .mui-hicon {
     display: inline-block;
     width: 0.8918918918918919rem;
     height: 0.8918918918918919rem;
     background-size: contain;
     vertical-align: middle;
}
 .mui-hicon-menu {
     background-image: url(../img/menu.png);
     margin-top: -0.10810810810810811rem;
}
/* 补充 */
 .mui_brand_header{
     background:#fff;
}
/* shoppingCart */
 .mui_shoppingCart_header .mui-title{
     font-size:0.43243243243243246rem;
}
 .mui_shoppingCart_header .btn_df:active{
     opacity: 0.5;
}
 .mui_shoppingCart_header .btn_edit{
     display: inline-block;
     position:absolute;
     right:0.40540540540540543rem;
     top:50%;
     width:1.0810810810810811rem;
     height:0.6486486486486487rem;
     margin-top:-0.32432432432432434rem;
     cursor: pointer;
      font-size:0.40540540540540543rem;
     line-height:0.6486486486486487rem;
}
 .mui_back{
     color:#000;
}
 .mui-content{
     overflow: scroll;
     -webkit-overflow-scrolling: touch;
     padding-bottom:2.4324324324324325rem;
}
 .mui_shop_list{
     padding:0.40540540540540543rem;
}
 .mui_shop_list .mui_item{
     background:#fff;
     border-radius:0.16216216216216217rem;
     margin-bottom:0.5405405405405406rem;
     padding-bottom:0.2702702702702703rem;
}
 .mui_shop_list .mui_item .mui_item_title{
     border-bottom:solid 0.02702702702702703rem #e2e2e2;
     font-size:0.32432432432432434rem;
}
 .mui_shop_list .mui_item_contain{
     padding-top:0.5405405405405406rem;
}
 .mui_shop_list .mui_item_dec{
     padding-left:2.5rem;
     min-height:1.6216216216216217rem;
     overflow: inherit;
     padding-top:0.02702702702702703rem;
}
 .mui_shop_list .mui_item_img{
     position:absolute;
     left:1.185946rem;
     top:0;
     display:inline-block;
     width:1.0810810810810811rem;
     height:1.0810810810810811rem;
     object-fit: cover;
}
 .mui_shop_list .mui_item_dec .mui_chk{
	 top: 0.13513513513513514rem!important;
}
 .mui_shop_list .mui_radio{
     left:0.2702702702702703rem!important;
}
 .mui_shop_list .mui_decCase {
     margin-top:-0.21621621621621623rem;
}
 .mui_shop_list .mui_decCase .mui_decTxt{
     font-size:0.32432432432432434rem;
     color:#333;
     overflow: hidden;
     white-space: nowrap;
     text-overflow: ellipsis;
     margin-bottom:0;
}
 .mui_shop_list .mui_decCase .mui_decType{
     font-size:0;
     margin:0;
     line-height:0.3783783783783784rem;
     overflow: hidden;
     white-space: nowrap;
     text-overflow: ellipsis;
     padding-right:0.2702702702702703rem;
}
 .mui_shop_list .mui_decCase .mui_decType span{
     font-size:0.2972972972972973rem;
     display:inline-block;
     padding-right:0.2702702702702703rem;
}
 .mui_shop_list .mui_decCase .mui-numbox{
     width:3.3783783783783785rem;
     height:0.6486486486486487rem;
     border-radius:0.32432432432432434rem;
     background:#fff;
     border-color:#000;
}
 .mui_shop_list .mui_decCase .mui-numbox-input{
     background:transparent;
}
 .mui_shop_list .mui_price{
     font-size:0.3783783783783784rem;
     color:red;
}
/* mui_guessRecommend*/
 .mui_guessRecommend{
     padding:0 0.2702702702702703rem;
     margin-bottom:0.5405405405405406rem;
}
 .mui_guessRecommend .mui_titleDf{
     text-align:center;
}
 .shopping_BtnBar{
     font-size:0;
     border-top:solid 0.02702702702702703rem #e2e2e2;
     border-bottom:solid 0.02702702702702703rem #e2e2e2;
     height:1.0810810810810811rem;
     position:fixed;
     bottom:1.3513513513513513rem;
     left:0;
     width:100%;
     z-index: 999;
     background:#fff;
     overflow: hidden;
}
 .shopping_BtnBar button .mui-icon{
     font-size:0.5405405405405406rem;
}
.shopping_BtnBar button .mui-checkbox{
	overflow: inherit;
}
 .mui_item_sub{
     width:33.33%;
     float: left;
     box-sizing: border-box;
     padding:0.13513513513513514rem;
}
 .mui_item_sub .mui_slide_imgCase{
     height:0;
     padding-bottom:100%;
     overflow: hidden;
     position:relative;
}
 .mui_item_sub .mui_slide_imgCase img{
     position:absolute;
     left:0;
     top:0;
     object-fit: cover;
     width:100%;
     height:100%;
}
 .mui_item_sub .mui_slider_contain{
     background:#fff;
     margin:0;
     border-radius:0.16216216216216217rem;
     overflow: hidden;
}
 .mui_item_sub .mui_slide_des{
     padding:0 0.13513513513513514rem;
     margin:0;
}
 .mui_item_sub .mui_slide_des p{
     margin:0;
     font-size:0.2702702702702703rem;
     overflow: hidden;
     white-space: nowrap;
     text-overflow: ellipsis;
     height:0.4864864864864865rem;
     line-height:0.4864864864864865rem;
}
 .mui_item_sub .mui_price{
     color:red;
     font-size:0.2702702702702703rem;
     overflow: hidden;
     white-space: nowrap;
     text-overflow: ellipsis;
     height:0.4864864864864865rem;
     line-height:0.3783783783783784rem!important;
}
 .mui_allBtn{
     width:26%;
     height:1.0810810810810811rem;
     border:0;
     border-radius:0;
}
 .mui_allBtn:active{
     background:transparent!important;
     color:#000!important;
}
 .mui_shoppingBuybtn{
     width:34%;
     background:#cc0000;
     font-size:0.43243243243243246rem;
     color:#ffffff;
     border:0;
     height:1.0810810810810811rem;
     border:0;
     border-radius:0;
}
 .mui_allTotal{
     height:1.0810810810810811rem;
     width:40%;
     border:0;
     line-height:1.0810810810810811rem;
     display:inline-block;
     font-size:0.3783783783783784rem;
     color:#cc0000;
}
 .mui_allTotal p{
     overflow: hidden;
     white-space: nowrap;
     text-overflow: ellipsis;
     color:#cc0000;
	 margin-bottom:0;
	 font-size:14px;
	  font-size:0.3783783783783784rem;
}
 .shopping_edit_BtnBar{
     font-size:0;
     border-top:solid 0.02702702702702703rem #e2e2e2;
     height:1.0810810810810811rem;
     position:fixed;
     bottom:0;
     left:0;
     width:100%;
     z-index: 999;
     background:#fff;
}
.shopping_edit_BtnBar .mui-input-row{
	overflow: inherit;
}
 .shopping_edit_BtnBar button{
     width:33.33%;
     border-radius:0;
     border:0;
     height:100%;
}
 .shopping_edit_BtnBar .mui_shoppingDelete{
     color:#fff;
     background:#000;
	 font-size:0.3783783783783784rem;
}
 .shopping_edit_BtnBar .mui_edit_collect{
    /* border-left:solid 0.02702702702702703rem #000000;
     */
}
 .shopping_edit_BtnBar .mui_edit_allBtn{
    /* border-left:solid 0.02702702702702703rem #000000;
     */
}
 .shopping_edit_BtnBar .mui_edit_allBtn:active{
     background:transparent;
     color:#000;
}
 .shopping_edit_BtnBar .mui_edit_allBtn{
     outline: 0;
}
 .mui-checkbox .mui_radio[type=checkbox]:before{
     font-size: 0.7567567567567568rem
}
 .mui-checkbox .mui_radio[type=checkbox]:checked:before{
     color:#cc0000;
}
 .mui_item .mui-checkbox.mui-left label{
     padding-left: 1.185946rem;
	 line-height: 0.5945945945945946rem;
}
 .mui-checkbox .mui_radio[type=checkbox]{
     width: 0.7567567567567568rem;
	 height: 0.7567567567567568rem;
     top:0.16216216216216217rem;
	 margin-top: 0.05405405405405406rem;
}
 #mui_allCheck .mui_radio{
     top:-0.02702702702702703rem!important;
     left:50%;
     margin-left:-0.6486486486486487rem;
}
 .mui_allCheck_label{
     /* margin-left:1rem; */
	 margin-left: 0.6675675675675675rem;
	 font-size: 0.3783783783783784rem;
}
 .mui_collect_df:before{
     content: "";
     display: block;
     background:url(../img/ico_collect_off.png) no-repeat center;
     position:absolute;
     right:50%;
     top:50%;
     margin-right:0.4864864864864865rem;
	 background-size: contain;
	 width: .7rem;
     height: .56rem;
/* 	 width:14px;
	 height:14px; */
	 margin-top: -0.24rem;
}
 .mui_collect_df{
     position:absolute;
     left:0;
     top:0;
     width:100%;
     height:100%;
     background-color:transparent;
     -webkit-appearance: none;
     border:none;
}
 .mui_collect_df:checked:before{
     background-image:url(../img/ico_collect_on.png) ;
}
 .mui_collect_label{
     margin-left:0.6486486486486487rem;
	 font-size:0.3783783783783784rem;
}
 .mui_allCheck_ico {
     top:50%!important;
     left: 1rem!important;
	 /* margin-left: -0.9486486486486487rem; */
     margin-top: -0.3272972972972973rem!important;
     width:0.6486486486486487rem!important;
     height:0.6486486486486487rem!important;
	 margin-left: -0.6486486486486487rem;
}
 .mui_allCheck_ico:before{
     font-size: 0.7567567567567568rem;
	 position: absolute;
     top: 50%;
	 left:0;
     transform: translate(0 ,-50%);
}
 .mui_allCheck_ico:checked:before{
     color:#CC0000!important;
	  font-size: 0.7567567567567568rem!important;
	  position: absolute;
	  top: 50%;
	  left:0;
	  transform: translate(0 ,-50%);

}
 .mui_shopping_numCase{
     width:2.1621621621621623rem!important;
     height:0.5405405405405406rem!important;
     padding-left:0.7027027027027027rem!important;
     padding-right: 0.7027027027027027rem!important;
}
 .mui_shopping_numCase .mui-numbox-btn-plus{
     font-size: 0.2702702702702703rem;
     background: transparent;
}
 .mui_shopping_numCase .mui-numbox-btn-minus{
     font-size: 0.2702702702702703rem;
     background: transparent;
}
 .mui_shopping_numCase .mui-btn{
     width:0.7027027027027027rem;
}
 .mui_shopping_numCase .mui-numbox-input{
     border:none!important;
     font-size:0.32432432432432434rem;
     line-height:0.43243243243243246rem;
}
/* shopping-edit */
 .mui_order_backBtn{
     color:#000;
}
 header.mui-bar{
     box-shadow: none;
     border-bottom:solid 0.02702702702702703rem #f2f2f2;
     background:#fff;
     font-size: 0.43243243243243246rem;
}
 .mui_order_locationWrap{
     margin-top:0!important;
}
 .mui_order_location_case{
     padding-left:1.0810810810810811rem!important;
     font-size:0.3783783783783784rem;
}
 .mui_order_location_case:after{
     right:0.13513513513513514rem;
}
 .mui_order_userInfo{
     padding-left:1.6216216216216217rem;
     position:relative;
     font-size:0;
     color:#000;
     margin-bottom:0.13513513513513514rem;
}
 .mui_order_userInfo label{
     position:absolute;
     left:0.13513513513513514rem;
     top:0;
     font-size:0.3783783783783784rem;
}
 .mui_order_userInfo .mui_order_name{
     display:inline-block;
     width:40%;
     white-space: pre-line;
     vertical-align: top;
     color:#000;
	 font-size:14px;
}
 .mui_order_userInfo .mui_order_num{
     width:60%;
     display:inline-block;
     white-space: pre-line;
     vertical-align: top;
     padding-left:0.13513513513513514rem;
     box-sizing: border-box;
     color:#000;
	 font-size:14px;
}
 .mui_order_location{
     padding:0 0.13513513513513514rem;
     font-size:0.32432432432432434rem;
     color:#000;
     position:relative;
}
 .mui_order_location_case .mui_location_ico{
     position:absolute;
     left:-0.40540540540540543rem;
     height:0.5405405405405406rem;
     font-size:0.3783783783783784rem;
     top:0.10810810810810811rem;
}
 .mui_order_goodsList{
     margin-top:0.2702702702702703rem;
     margin-bottom:0.2702702702702703rem;
}
 .mui_order_goodsItem .mui_orderGoods_title{
     padding:0.13513513513513514rem 0.40540540540540543rem!important;
}
 .mui_order_goodsItem .mui_orderGoods_title img{
     width:0.7567567567567568rem;
     height:0.7567567567567568rem;
     vertical-align: middle;
}
 .mui_order_goodsItem .mui_orderGoods_title span{
     margin:0;
     vertical-align: middle;
}
 .mui_order_goodsItem img.mui-media-object{
     width:2.7027027027027026rem;
     height:2.7027027027027026rem!important;
     max-width:2.7027027027027026rem!important;
     object-fit: cover;
}
 .mui_order_goodsDec{
     font-size:0.3783783783783784rem;
     color:#000;
     -webkit-line-clamp: 2;
     display:-webkit-box;
     -webkit-box-orient: vertical;
     overflow : hidden;
     white-space: normal;
     min-height:0.5945945945945946rem;
}
 .mui_order_goodsType{
     min-height:1.0810810810810811rem;
}
 .mui_order_goodsType .mui_type_item{
     font-size:0.32432432432432434rem;
     display:inline-block;
     margin-right:0.10810810810810811rem;
}
 .mui_order_goodsPrice_row{
     min-height: 0.5675675675675675rem;
}
 .mui_order_goodsPrice_row .mui_priceDf{
     color:red;
     font-size:0.43243243243243246rem;
     display:inline-block;
     max-width:100%;
     white-space: pre-line;
     word-break: break-all;
}
 .mui_order_goodsPrice_row .mui_countsDf{
     color:#000;
     float:right;
}
 .mui_order_dispatching{
     font-size:0.32432432432432434rem;
     color:#999;
}
 .mui_order_dispatching li.mui-active{
     background-color:transparent;
}
 .mui_orderGoods_message{
     border:none;
     background:#f2f2f2;
     color:#000;
     font-size:0.32432432432432434rem;
     word-break: break-all;
}
 .mui_order_dispatching li:after{
     left:0;
}
 .mui_order_dispatching .mui_usefulScoresDf{
     vertical-align: middle;
}
 .mui_order_dispatching .mui_usefulScoresLabelDf{
     vertical-align: middle;
     font-size:0.32432432432432434rem;
}
 .mui_order_dispatching .mui_scoresValue{
     padding:0 0.05405405405405406rem 0 0.2702702702702703rem;
}
 .mui_orderGoods_message::-webkit-input-placeholder{
     color:#999;
     font-size:0.32432432432432434rem;
}
 .mui_orderInfo{
     font-size:0.32432432432432434rem;
     color:999;
     margin-top:0.2702702702702703rem;
     padding-top:0.13513513513513514rem;
     padding-bottom:0.13513513513513514rem;
}
 .mui_orderInfo li{
     padding:0.10810810810810811rem 0.40540540540540543rem;
     color:#878787;
}
 .mui_orderInfo li.mui-active{
     background-color:transparent;
}
 .mui_orderInfo li:after{
     display:none;
}
 .mui_orderInfo .mui-pull-right{
     color:red;
}
 .mui_orderFt_BtnBar{
     position:fixed;
     bottom:0;
     left:0;
     width:100%;
     height:1.0810810810810811rem;
     background:#fff;
}
 .mui_orderFt_BtnBar{
     font-size:0;
     border-top:solid 0.02702702702702703rem #f2f2f2;
}
 .mui_orderFt_BtnBar .mui_allTotal{
     width:60%;
     text-align:center;
     display:inline-block;
     height:100%;
     line-height:1.0810810810810811rem;
     color:red;
     font-size:0.3783783783783784rem;
}
 .mui_orderFt_BtnBar .mui_order_deleteBtn{
     display:inline-block;
     width:40%;
     border:0;
     height:100%;
     border-radius: 0;
     background:black;
     color:#fff;
}
 .mui_orderCounts_row{
     background-color:#fff;
     text-align:right;
     padding:0.2702702702702703rem 0.40540540540540543rem;
}
 .mui_orderCounts_row span{
     vertical-align: middle;
     color:#333;
}
 .mui_orderCounts_row .mui_labelDf{
     font-size:0.32432432432432434rem;
     margin-right:0.40540540540540543rem;
}
 .mui_orderCounts_row .mui_countsDf{
     font-size:0.3783783783783784rem;
}
 .mui-content{
     padding-bottom:2.4324324324324325rem;
}
 .mui_sureOder_case{
     text-align:center;
     background:#fff;
     padding:0.5405405405405406rem 0.40540540540540543rem;
}
 .mui_sureOder_case .mui_sureOrder_serialNumber{
     color:#000;
     font-size:0.32432432432432434rem;
}
 .mui_sureOder_case .mui_sureOrder_price{
     font-size:0.3783783783783784rem;
     color:red;
}
 #mui_sureOrder_btn{
     width:80%;
     height:1.1891891891891893rem;
     line-height:1.1891891891891893rem;
     padding:0;
     margin:1.6216216216216217rem auto 0;
     border-radius:0.5945945945945946rem;
     background:red;
}
/* my-access */
 .mui_myAccess_head{
     background:#fff;
}
 .mui_backBlack{
     color:#000;
}
 .mui_myAccess_goodsImg{
     width:2.7027027027027026rem!important;
     height:2.7027027027027026rem!important;
     max-width: 2.7027027027027026rem!important;
}
 .mui_campLine{
     -webkit-line-clamp: 2;
     display: -webkit-box;
     -webkit-box-orient: vertical;
     overflow: hidden;
     white-space: normal;
     color:#000;
}
 .mui_myAccess_goodsDec{
     min-height:3.2972972972972974rem;
     position:relative 
}
 .mui_myAccess_goods .mui_accessBtn{
     font-size:0.32432432432432434rem;
     border-radius:0.5945945945945946rem;
     height:0.7027027027027027rem;
     width:2.1621621621621623rem;
     padding:0;
     line-height:0.6486486486486487rem;
     position:absolute;
     right:0.40540540540540543rem;
     bottom:0;
     top:auto;
     color:#777;
     border-color:#777;
}
 .mui_myAccess_goods .mui_accessBtn:active{
     color:#777;
     background-color:inherit;
}
 .mui_myAccess_goods .mui_accessBtn_on{
     color:red;
     border-color:red;
}
 .mui_accessComment_wrap{
    /* background:#fff;
     */
}
 .mui_myAccess_head a.mui-action-back{
     color:#000;
}
 .mui_myAccess_head .mui-btn{
     color:#000;
}
 .mui_accessComment_goodsWrap{
     margin-top:0!important;
}
 .mui_accessComment_goodsWrap:before{
     display:none;
}
 .mui_accessComment_goodsWrap:after{
     display:none;
}
 .mui_accessComment_goods{
     background-color:#fff!important;
}
 .mui_accesssComment_goodsImg{
     max-width:2.1621621621621623rem!important;
     width:2.1621621621621623rem!important;
     height:2.1621621621621623rem!important;
     object-fit: cover;
}
 .mui_accessComment_goods .mui-media-body{
     height:2.1621621621621623rem;
     position:relative;
}
 .mui_accessComment_goods .mui_comment_starBar{
     position:absolute;
     left:0;
     top:50%;
     height:0.6756756756756757rem;
     margin-top:-0.32432432432432434rem;
     font-size:0;
}
 .mui_accessComment_goods .mui_comment_starBar .mui_icon_star{
     background:url(../img/ico_star_off.png) no-repeat center;
     background-size:100% 100%;
     display:inline-block;
     width:0.6216216216216216rem;
     height:0.5945945945945946rem;
     margin-left:0.2702702702702703rem;
}
 .mui_accessComment_goods .mui_comment_starBar .mui_icon_star_on{
     background-image:url(../img/ico_star_on.png) ;
}
 .mui_commentArea_case{
     padding:0.2702702702702703rem 0.40540540540540543rem;
     background:#fff;
}
 .mui_commentArea_title{
     color:#000;
     margin:0;
}
 .mui_commentArea_txtCase{
     margin:0.13513513513513514rem 0;
     border:solid 1px #e2e2e2;
     border-radius:0.10810810810810811rem;
     position:relative;
}
 .mui_commentArea_txtCase textarea{
     padding:0.05405405405405406rem 0.13513513513513514rem;
     border:0;
}
 .mui_commentArea_txtCase textarea::-webkit-input-placeholder{
     font-size:0.32432432432432434rem;
}
/* my-footprint */
 .mui_myfootprint_head{
     background-color:#fff;
}
 .mui_myfootprint_head a.mui-icon{
     color:#000;
}
 .mui_myfootprint_head a.btn_edit{
     display: inline-block;
     position: absolute;
     right: 0.40540540540540543rem;
     top: 50%;
     width: 1.0810810810810811rem;
     height: 0.6486486486486487rem;
     margin-top: -0.32432432432432434rem;
     cursor: pointer;
     font-size: 0.3783783783783784rem;
     line-height: 0.6486486486486487rem;
     text-align:center;
     color:#000;
}
 .mui_myfootprint_head button{
     color:#000!important;
}
 .mui_footprint_case{
     margin:0.05405405405405406rem 0;
}
 .mui_footprint_case .mui-table-view{
     background:none;
}
 .mui_footprint_date{
     font-size:0.32432432432432434rem;
     background-color:#fff;
     padding:0.05405405405405406rem 0.40540540540540543rem;
     margin:0;
     border:solid 1px #e2e2e2;
     color:#000;
}
 .mui_footprint_item{
     margin:0.10810810810810811rem 0;
     background-color:#fff;
}
 .mui_footprint_item:after{
     height:0;
}
 .mui_footprint_item .mui_footprint_dec{
     font-size:0.32432432432432434rem;
     color:#000;
     height:1.0810810810810811rem;
}
 .mui_footprint_item .mui_footprint_price{
     color:red;
     font-size:0.32432432432432434rem;
     min-height:0.5675675675675675rem;
}
 .mui_footprint_item img{
     width:1.6216216216216217rem;
     height:1.6216216216216217rem!important;
     max-width:1.6216216216216217rem!important;
}
 .mui_footprint_item .mui_footprint_buy{
     position:absolute;
     right:0.40540540540540543rem;
     bottom:0;
     top:auto;
     height:0.6486486486486487rem;
     font-size:0.32432432432432434rem;
     padding:0;
     width:1.6216216216216217rem;
     line-height:0.6486486486486487rem;
}
 .mui_footprint_editCase .mui_footprint_item{
     background-color:#fff;
}
 .mui_footprint_checkbox{
     position:absolute;
     left:0.40540540540540543rem;
     top:50%;
     height:0.8108108108108109rem;
     width:0.8108108108108109rem;
     margin-top:-0.40540540540540543rem;
}
 .mui_footprint_checkbox input{
     left:0!important;
     top:0!important;
}
 .mui_footprint_checkbox input[type=checkbox]:checked:before{
     color:red;
}
 .mui_fontprint_ftBtnBar input[type=checkbox]:checked:before{
     color:red;
}
 .mui_footprint_editCase .mui_footprint_item{
     padding-left:1.6216216216216217rem;
}
 .mui_fontprint_ftBtnBar{
     position:fixed;
     bottom:0;
     left:0;
     width:100%;
     background:#fff;
     font-size:0;
     height:1.0810810810810811rem;
}
 .mui_fontprint_ftBtnBar .mui_allBtn{
     width:60%;
     height:100%;
     border:0;
     border-radius:0;
     box-sizing: border-box;
}
 .mui_fontprint_ftBtnBar .mui_ft_delelteBtn{
     width:40%;
     border:0;
     border-radius:0;
     box-sizing: border-box;
     height:100%;
     background-color:red;
     color:#fff;
}
 .mui_fontprint_ftBtnBar .mui-checkbox{
     position:absolute;
     left:0;
     top:0;
     width:100%;
     height:100%;
     z-index: 1;
	 text-align: left;
}
 .mui_fontprint_ftBtnBar .mui-checkbox input{
     position:absolute;
     top:0!important;
     left:0!important;
     right:auto!important;
     width:100%!important;
     height:100%!important;
     z-index: 2;
     color:#aaa;
     margin:0!important;
}
 .mui_fontprint_ftBtnBar .mui-checkbox input:before{
     position:absolute;
     right:50%;
     left: 0.40540540540540543rem;
     top:50%;
     margin-right:0.43243243243243246rem;
     /* margin-top:-0.3783783783783784rem; */
     font-size:0.7567567567567568rem!important;
     color:#aaa!important;
	 transform:translate(0,-50%);
}
 .mui_fontprint_ftBtnBar .mui-checkbox input[type='checkbox']:checked:before{
     color:red!important;
}
 .mui_fontprint_ftBtnBar .mui_allCheck_label{
     line-height:1.0810810810810811rem;
}
/* my-fans */
 .mui_myFans_head{
     background-color:#fff;
}
 .mui_backBlack{
     color:#000;
}
 .mui_myFans_table{
     width:100%;
     background:#fff;
}
 .mui_myFans_table thead{
     border-top:solid 0.02702702702702703rem #f2f2f2;
     border-bottom:solid 0.02702702702702703rem #F2F2F2;
}
 .mui_myFans_table thead th{
     padding: 0.13513513513513514rem 0.05405405405405406rem;
}
 .mui_myFans_table th,.mui_myFans_table td{
     font-size: 0.32432432432432434rem;
     font-weight: normal;
     text-align:center;
}
 .mui_myFans_table .mui_myFans_avatar{
     width:0.8108108108108109rem;
     height:0.8108108108108109rem;
     vertical-align: middle;
     border-radius: 50%;
     ;
}
 .mui_myFans_table tbody tr{
     border-bottom:solid 0.02702702702702703rem #f2f2f2;
     padding-top:0.13513513513513514rem;
     padding-bottom:0.13513513513513514rem;
}
 .mui_myFans_table tbody tr:active{
     background-color:#eee;
}
 .mui_myFans_table tbody td{
     padding:0.21621621621621623rem 0.10810810810810811rem;
}
 .mui_myFans_table .mui_dateDf{
     font-size:0.2702702702702703rem;
     margin:0;
     color:#000;
     line-height:0.3783783783783784rem;
}
 .mui_fans_shareBtn{
     width:5rem;
     text-align:center;
     background-color:#fff;
     border-radius:1.3513513513513513rem;
     color:#000;
     font-size:0.43243243243243246rem;
     font-weight:600;
     display:block;
     height:1.1081081081081081rem;
     line-height:1.1081081081081081rem;
     margin:0 auto;
}
 .mui_fans_shareBtn:active{
     color:inherit;
}
 .mui_fansShare_wrap{
     text-align:center;
     padding-top:2.5135135135135136rem;
}
 .mui_fansShare_wrap .mui_titleDf{
     margin-top:0.40540540540540543rem;
     margin-bottom:1.6216216216216217rem;
}
 .mui_fansShare_wrap .mui_icoDf{
     width:2.7027027027027026rem;
     height:2.7027027027027026rem;
     margin:0 auto;
}
/* 我的客户中心 */
 .mui_noticeRow{
     padding:0 0.8108108108108109rem;
     margin:0.32432432432432434rem 0;
}
 .mui_customerCenter_notice{
     background-color:#fff;
     height:0.8108108108108109rem;
     border-radius:0.2702702702702703rem;
     position:relative;
     padding:0 1.6216216216216217rem 0 0.9459459459459459rem;
}
 .mui_customerCenter_notice .mui_notice_ico{
     position:absolute;
     left:0.32432432432432434rem;
     top:50%;
     margin-top:-0.1891891891891892rem;
     font-size:0.43243243243243246rem;
     width:0.40540540540540543rem;
     height:0.40540540540540543rem;
}
 .mui_customerCenter_notice .mui_noticeTxt_case{
     width:100%;
     height:100%;
     overflow: hidden;
     position:relative;
}
 .mui_customerCenter_notice .mui_noticeTxt{
      font-size: 0.3783783783783784rem;
     color:#000;
     white-space: nowrap;
     height:0.8108108108108109rem;
     line-height:0.8108108108108109rem;
     margin:0;
     position:absolute;
     left:0;
     top:0;
}
 .mui_notice_moveEffect{
     animation: noticeMove 5s linear infinite;
}
 @keyframes noticeMove{
     from{
         left:100%;
    }
     to{
         left:-100% 
    }
}
 .mui_customerCenter_notice .mui_notice_moreBtn{
     position:absolute;
     right:0.32432432432432434rem;
     top:50%;
     width:0.8108108108108109rem;
     height:0.5945945945945946rem;
     line-height:0.5945945945945946rem;
      font-size: 0.3783783783783784rem;
     text-align:center;
     margin-top:-0.2972972972972973rem;
     color:#000;
}
 .mui_customerCenter_notice .mui_notice_moreBtn:active{
     opacity:0.5;
}
 .mui_customerCenter_notice .mui_lineDf{
     position:absolute;
     right:1.3513513513513513rem;
     top:50%;
     margin-top:-0.24324324324324326rem;
     border-left:0.02702702702702703rem solid #000;
     height:0.4864864864864865rem;
}
 .mui_customer_QCheck{
     margin-bottom:0.32432432432432434rem;
}
 .mui_customer_QCheck .mui_QCheck_grid{
    /* background-color:#fff;
     */
}
 .mui_customer_QCheck .mui_QCheck_grid li{
     background-color:#fff!important;
}
 .mui_customer_title{
     font-size:0.3783783783783784rem;
     font-weight:normal;
     padding:0.2702702702702703rem 0.40540540540540543rem;
     background-color:#fff;
     margin-bottom:0;
}
 .mui_customer_QCheck .mui_Qitem_ico{
     width:1.0810810810810811rem;
     height:1.0810810810810811rem;
}
 .mui_customer_QCheck .mui_Qitem_txt{
     font-size:0.3783783783783784rem!important;
     margin-top:0!important 
}
/* notice */
 .mui_noticeWrap_List li:after{
     left:0;
}
 .mui_noticeWrap_case{
     padding-left:1.3513513513513513rem!important;
}
 .mui_noticeWrap_case .mui_ico{
     position:absolute;
     width:0.5405405405405406rem;
     height:0.5405405405405406rem;
     left:0.40540540540540543rem;
     top:50%;
     margin-top:-0.2702702702702703rem;
}
 .mui_noticeWrap_itemTitle{
     color:#000;
}
/* notice_details */
 .mui_noticeDetails_wrap{
     padding:0 0.40540540540540543rem;
}
 .mui_notice_details_title{
     font-size:0.43243243243243246rem;
     text-align:center;
     font-weight:normal;
     line-height:0.972972972972973rem;
}
 .mui_notice_details_title{
     border-bottom:solid 0.02702702702702703rem #e2e2e2;
}
 .mui_noticeDetails_txt{
     font-size: 0.3783783783783784rem;
     color:#000;
     line-height:1.5;
}
/* newbie guide */
 .mui-bar-nav a.mui-icon-arrowleft:before{
     vertical-align: middle;
}
 .mui_navBack_label{
     font-size:0.43243243243243246rem;
     vertical-align: middle;
}
 .mui_newbieGuide_case li:after{
     left:0;
}
 .mui_newbieGuide_case{
     padding-left:1.3513513513513513rem!important;
}
 .mui_newbieGuide_case .mui_ico{
     position:absolute;
     width:0.40540540540540543rem;
     height:0.40540540540540543rem;
     left:0.40540540540540543rem;
     top:50%;
     margin-top:-0.21621621621621623rem;
}
 .mui_newbieGuide_itemTitle{
     color:#000;
}
/* newbie guide details */
 .mui_guideWrap_item{
     margin-bottom:0.2702702702702703rem;
}
 .mui_guideWrap .mui_titleDf{
     line-height:1.1891891891891893rem;
     background-color:#fff;
     padding:0 0.40540540540540543rem;
     color:#000;
     margin:0;
     border-bottom:solid 0.02702702702702703rem #e2e2e2;
}
 .mui_guideWrap .mui_dec_case p{
     background-color:#fff;
     padding:0.1891891891891892rem 0.40540540540540543rem;
      font-size: 0.3783783783783784rem;
     margin:0;
     color:#000;
}
/* agent */
 .mui_partner_group{
     background:transparent;
     margin-bottom:0.40540540540540543rem;
     font-size:0.3783783783783784rem;
}
 .mui_partner_group .mui-input-row {
     padding-left:0.40540540540540543rem;
     margin-top:0.40540540540540543rem;
     background:#fff;
     height:1.3513513513513513rem;
     line-height:1.3513513513513513rem;
}
 .mui_partner_group .mui-input-row:after{
     display:none;
}
 .mui_partner_group .mui_radioDf{
     font-size:0.3783783783783784rem;
     top:50%!important;
     margin-top:-0.3783783783783784rem;
}
 .mui_partner_group .mui_radioDf[type=radio]:checked:before{
     content:'\e442' 
}
 .mui_partner_btnRow{
     padding:0 0.40540540540540543rem;
     margin-top:2.675675675675676rem;
}
 .mui_partner_btnRow .mui-btn{
     height:1.0810810810810811rem;
     padding:0;
     font-size:0.3783783783783784rem;
}
/* careerParter-failed */
 .mui_careerParter_txtCase{
     padding:0.40540540540540543rem;
     background-color:#fff;
     margin-top:0.40540540540540543rem;
     text-align:center;
}
 .mui_careerParter_txtCase .mui_labelDf{
     color:red;
}
 .mui_careerParter_txtCase .mui_statusTxt{
     color:#000;
}
/* agency Application */
 .mui_agencyApplication_contain{
     font-size:0.3783783783783784rem;
     border:0;
     background:none;
}
 .mui_agencyApplication_contain:before{
     display:none;
}
 .mui_agencyApplication_contain:after{
     display:none;
}
 .mui_agencyApplication_contain .mui_priceColor{
     color:red;
}
 .mui_agencyApplication_contain li{
     margin-bottom:0.40540540540540543rem;
     background-color:#fff;
}
 .mui_agencyApplication_contain li:after{
     background-color:transparent;
}
 .mui_agencyApplication_city{
     color:#999;
}
 .mui_agencyApplication_citysheet{
     background-color:#fff!important;
}
 .mui_agencyApplication_citysheet .mui_sheetList{
     background:transparent;
}
 .mui_agencyApplication_citysheet .mui_sheetList li{
     text-align:start;
     color:#000;
     font-size:0.32432432432432434rem;
}
 .mui_agencyApplication_citysheet .mui_sheetLabel{
     color:#000;
     padding:0.8108108108108109rem 0.40540540540540543rem 0;
}
 .mui_agencyApplication_citysheet .mui_cityArea {
     padding:0 0.40540540540540543rem;
     border-bottom:solid 0.02702702702702703rem #e2e2e2;
}
 .mui_agencyApplication_citysheet .mui_cityArea .mui_itemDf {
     font-size:0.32432432432432434rem;
     color:#000;
     line-height:0.8108108108108109rem;
     margin:0 0.5405405405405406rem 0 0.40540540540540543rem;
     display:inline-block;
}
 .mui_agencyApplication_citysheet .mui_cityArea .hideDf{
     display:none;
}
 .mui_agencyApplication_citysheet .mui_cityArea .mui_itemDf_now{
     color:red;
     position:relative;
}
 .mui_agencyApplication_citysheet .mui_cityArea .mui_itemDf_now:after{
     position:absolute;
     left:0;
     bottom:-0.02702702702702703rem;
     width:100%;
     content: '';
     height:0.05405405405405406rem;
     background:red;
}
 .mui_sheetList{
     border-radius:0!important;
     min-height:8.108108108108109rem;
}
 .mui_sheetList li{
     padding:0.2702702702702703rem 0.5405405405405406rem;
}
 .mui_sheetList li:active{
     opacity: 0.5;
}
 .mui_sheetItem_city {
     display:inline-block;
     padding:0.2702702702702703rem;
}
 .mui_sheetItem_city:active{
     opacity: 0.5;
}
 .mui_agencyApplication_submitRow{
     padding:0 0.40540540540540543rem;
     margin-top:3.2432432432432434rem;
}
 .mui_agencyApplication_submitRow .mui-btn{
     height:0.972972972972973rem;
     line-height:0.972972972972973rem;
     padding:0;
     font-size:0.3783783783783784rem;
}
/* checkoutCounter */
 .mui_payWay_group{
     background:transparent;
     margin-bottom:0.40540540540540543rem;
     padding-top:0.13513513513513514rem;
}
 .mui_payWay_group .mui-input-row {
     padding-left:0.40540540540540543rem;
     margin-top:0.2702702702702703rem;
     background:#fff;
     height:1.3513513513513513rem;
     line-height:1.3513513513513513rem;
}
 .mui_payWay_group .mui-input-row:after{
     display:none;
}
 .mui_payWay_group .mui_icoDf{
     width:0.8108108108108109rem;
     height:0.8108108108108109rem;
     border-radius:50%;
     overflow: hidden;
     vertical-align: middle;
}
 .mui_payWay_group .mui_labelDf{
     vertical-align: middle;
     font-size:0.3783783783783784rem;
     width:auto;
}
 .mui_payWay_group .mui_labelDf span{
     font-size:0.32432432432432434rem;
}
 .mui_payWay_group .mui_radioDf{
     font-size:0.3783783783783784rem;
     top:50%!important;
     margin-top:-0.3783783783783784rem;
}
 .mui_payWay_group .mui_radioDf[type=radio]:checked:before{
     content:'\e442';
}
 .mui_orderCounts_case{
     background-color:#fff;
     padding:0.13513513513513514rem 0.40540540540540543rem;
}
 .mui_orderCounts_case .mui_titleDf{
     color:#000;
     padding-bottom:0.13513513513513514rem;
}
 .mui_orderCounts_case .mui_priceDf{
     color:#000;
     font-size:0.5405405405405406rem;
     border-bottom:solid 0.02702702702702703rem #f2f2f2;
}
 .mui_agencyCheckoutCounter_btnRow{
     padding:0 0.40540540540540543rem;
     margin-top:0.8108108108108109rem;
}
 .mui_agencyCheckoutCounter_btnRow .mui-btn{
     height:1.0810810810810811rem;
     padding:0;
     font-size:0.3783783783783784rem;
     line-height:1.0810810810810811rem;
}
/* no used */
 .mui_payInPassword_maskLayer{
     display:block;
     position:fixed;
     left:0;
     top:0;
     width:100vw;
     height:100vh;
     background-color:rgba(8,8,8,0.3);
}
 .mui_payInPassword_maskLayer img{
     position:absolute;
     left:50%;
     top:50%;
     transform:translate(-50%,-50%);
}
/* 支付完成提示 */
 .mui_paySuccess_remindCase {
     height:1.6216216216216217rem;
     line-height:1.6216216216216217rem;
     background:#fff;
     padding:0 0.40540540540540543rem;
     margin-top:0.40540540540540543rem;
}
 .mui_paySuccess_remindCase .mui-icon{
     background-size:100% 100%;
     background-repeat :no-repeat;
     background-position:center;
     width:1.0810810810810811rem;
     height:1.0810810810810811rem;
     display:inline-block;
     border-radius:50%;
     overflow: hidden;
     vertical-align: middle;
}
 .mui_paySuccess_remindCase .mui_labelDf{
     font-size:0.3783783783783784rem;
     padding-left:0.2702702702702703rem;
}
 .mui_paySuccess_price{
     font-size:0.3783783783783784rem;
     padding:0.2702702702702703rem 0.40540540540540543rem;
     background-color:#fff;
     margin-top:0.13513513513513514rem;
     line-height:0.5405405405405406rem;
}
 .mui_paySuccess_btnCase{
     margin-top:0.8108108108108109rem;
     padding:0 0.40540540540540543rem;
     margin-top:2.675675675675676rem;
}
 .mui_header_rightBtn:active{
     color:#878787;
}
 .mui_paySuccess_btnCase .mui_paySuccess_btn{
     height:1.0810810810810811rem;
     padding:0;
     line-height:1.0810810810810811rem;
     font-size:0.3783783783783784rem;
     background-color:#0091ff;
}
/* under review */
 .mui_inReview_txtCase{
     background-color:#fff;
     margin-top:0.40540540540540543rem;
     text-align:center;
     padding:0.5405405405405406rem 0.40540540540540543rem 0.13513513513513514rem;
}
 .mui_inReview_txtCase .mui_labelDf{
     color:#000;
     padding-bottom:0.2702702702702703rem;
}
 .mui_inReview_txtCase .mui_statusTxt{
     color:#0091ff;
     margin:0;
}
 .mui_inReview_txtCase2{
     background-color:#fff;
     margin-top:0.40540540540540543rem;
     text-align:center;
     padding:1.0810810810810811rem 0.40540540540540543rem 0.8108108108108109rem;
}
 .mui_inReview_txtCase2 .mui_labelDf{
     color:#000;
}
 .mui-icon-arrowleft{
     color:#000;
}
 .mui-icon-arrowleft:active{
     color:#878787;
}
/* my commision-profit */
 .mui_header_rightBtn{
     position:absolute;
     right:0.2702702702702703rem;
     top:50%;
     font-size:0.32432432432432434rem;
     color:#000;
     padding:0.13513513513513514rem;
     transform: translate(0 , -50%);
     -webkit-transform: translate(0 , -50%);
	 line-height:1;
}
 header.mui-bar .mui-title{
     font-size:0.4594594594594595rem;
}
 .mui_ConsumerBenefits{
     color:#000;
}
 .mui_ConsumerBenefits li{
     background-color:#fff!important;
}
 .mui_ConsumerBenefits .mui_labelDf{
     font-size:0.32432432432432434rem;
     color:#000;
     padding:0.13513513513513514rem 0.05405405405405406rem;
}
 .mui-content .mui_ConsumerBenefits .mui-table-view-cell .mui-media-body{
     font-size:0.43243243243243246rem!important;
     padding:0 0.13513513513513514rem 0.13513513513513514rem 0.13513513513513514rem;
     height:auto;
}
 .mui_turnbBalance_btnCase{
     margin-top:0.2702702702702703rem;
     padding:0 0.40540540540540543rem;
     margin-bottom:0.8108108108108109rem;
}
 .mui_block_btnDf{
     height:1.0810810810810811rem;
     padding:0;
     line-height:1.0810810810810811rem;
     font-size:0.3783783783783784rem;
     background-color:#0091ff;
}
 .mui_TableProfit_title{
     background-color:#fff;
}
 .mui_TableProfit_title .mui_itemDf{
     font-size:0.3783783783783784rem!important;
     padding:0.13513513513513514rem 0.05405405405405406rem;
     text-align:center;
}
 .mui_TableProfit_content li{
     border-top:solid 0.02702702702702703rem #e2e2e2;
}
 .mui_TableProfit_content li .mui_itemDf{
     font-size:0.3783783783783784rem!important;
     text-align:center;
     padding-left:0.10810810810810811rem;
     padding-right:0.10810810810810811rem;
}
 .mui_TableProfit_content li .mui_itemDf:after{
     display:none;
}
 .mui_TableProfit_content .mui-active{
     background:transparent;
}
/* 店铺设置 */
 .mui_shopSettingList{
     background-color:transparent;
}
 .mui_shopSettingList:before{
     display:none;
}
 .mui_shopSettingList:after{
     display:none;
}
 .mui_shopSettingList li{
     margin-bottom:0.21621621621621623rem;
     background-color:#fff;
}
 .mui_shopSettingList li:after{
     display:none;
}
 .mui_shopSettingItem{
     font-size:0.3783783783783784rem;
}
/* 订单处理 */
 .mui_orderProcess_wrap{
     background-color:#fff;
     padding-bottom:0.2702702702702703rem 
}
 .mui_orderProcess_list{
     padding:0.13513513513513514rem 0;
}
 .mui_orderProcess_list:before{
     display:none;
}
 .mui_orderProcess_list:after{
     display:none;
}
 .mui_orderProcess_list .mui-active{
     background-color:#fff;
}
 .mui_orderProcess_item{ 
	 position:relative;
	  font-size:0.40540540540540543rem;
	  line-height:0.3783783783783784rem;
	 padding-top: 0.21621621621621623rem;
	 padding-bottom: 0.21621621621621623rem;
}
 .mui_orderProcess_item:after{
     display:none;
}
 .mui_orderProcess_item .mui_labelDf{
     float:left;
     font-size: 0.3783783783783784rem;
     width:25%;
}
 .mui_orderProcess_item .mui_txtDf{
     font-size: 0.3783783783783784rem;
     color:#000;
     width:75%;
     float:left;
	 line-height:1.3;
}
 .mui_orderProcess_item .mui_expressDf{
       float:left;
     width:75%;
     height:40px;
     /* font-size:15px; */
     min-height:0.3783783783783784rem;
     background-color:#e2e2e2;
     border-radius:0.5405405405405406rem;
}
 .mui_btnRow{
     padding:0 0.40540540540540543rem;
}
   .mui_btnRow .mui-btn{
   margin-top:0.2702702702702703rem;
     height:1.0810810810810811rem;
     line-height:1.0810810810810811rem;
     padding:0;
     background-color:#FF0000!important;
     border:solid 1px #FF0000;
     margin-bottom:0;
     font-size:0.3783783783783784rem;
}
/* 商品管理 */
 .mui_goodsManage_wrap{
     background-color:transparent;
     margin-top:0!important;
}
 .mui_goodsManage_wrap:after{
     display:none;
}
 .mui_goodsManage_item{
     margin-bottom:0.2702702702702703rem;
     background-color:#fff;
}
 .mui_goodsManage_item:after{
     height:0;
     margin-bottom:0.2702702702702703rem;
}
 .mui_goodsManage_item .mui_goodsManage_dec{
     font-size:0.32432432432432434rem;
     color:#000;
     padding-right:2.1621621621621623rem;
     min-height:0.5675675675675675rem;
}
 .mui_goodsManage_item .mui_goodsManage_priceRow{
     font-size:0;
     min-height:0.5675675675675675rem;
     padding:0;
}
 .mui_goodsManage_priceRow .mui_priceDf{
     color:red;
     font-size:0.32432432432432434rem;
     width:65%;
     vertical-align: bottom;
     display:inline-block;
     white-space: normal;
     word-break: break-all;
}
 .mui_goodsManage_priceRow .mui_countsDf{
     color:#000;
     font-size:0.32432432432432434rem;
     width:35%;
     text-align:right;
     vertical-align: bottom;
     display:inline-block;
     white-space: normal;
     word-break: break-all 
}
 .mui_goodsManage_item a.mui-active{
     background-color:#fff!important;
}
 .mui_goodsManage_item img{
     width:1.7567567567567568rem;
     height:1.7567567567567568rem!important;
     max-width:1.7567567567567568rem!important;
}
 .mui_goodsManage_item .mui_goodsType{
     white-space: normal;
     line-height:1.5;
     font-size:0;
     padding-bottom:0.10810810810810811rem;
     padding-right:1.8918918918918919rem;
     min-height:0.5675675675675675rem;
}
 .mui_goodsManage_item .mui_goodsType .mui_typeItem {
     font-size:0.32432432432432434rem;
     display:inline-block;
     margin-right:0.2702702702702703rem;
}
 .mui_goodsManage_item .mui_goodsStatus{
     position:absolute;
     right:0.40540540540540543rem;
     top:0;
     font-size:0.32432432432432434rem;
     color:red;
     top:0.2702702702702703rem;
}
 .mui_goodsManage_btnBar{
     display:flex;
     display: -webkit-flex;
    /* Safari */
     justify-content:space-between;
     flex-direction: row;
     padding-top:0.2702702702702703rem;
}
 .mui_goodsManage_btnBar .mui_btnDf{
     display:inline-block;
     text-align:center;
     font-size:0.32432432432432434rem;
     color:#000;
     width:1.8918918918918919rem;
     height:0.6486486486486487rem;
     line-height:0.6486486486486487rem;
     border:solid 1px #000;
     border-radius:0.16216216216216217rem;
}
 .mui_goodsManage_itemContent{
     border-bottom:solid 0.02702702702702703rem #e2e2e2;
     margin-bottom:0!important;
}
/* 收货地址列表 */
 .mui_shippingAddress_list{
     margin:0;
     background-color:transparent;
}
 .mui_shippingAddress_list:after{
     display:none;
}
 .mui_shippingAddress_dec{
     position:relative;
     padding:0.3783783783783784rem 1.3513513513513513rem 0.3783783783783784rem 0.40540540540540543rem;
     margin-top:0.2702702702702703rem;
     background-color:#fff;
}
 .mui_shippingAddress_dec .mui_customerInfoDf{
     font-size:0;
     color:#000;
     margin:0;
     padding:0;
}
 .mui_shippingAddress_dec .mui_customerInfoDf .mui_nameDf{
     display:inline-block;
     font-size:0.3783783783783784rem;
     width:30%;
     vertical-align: baseline;
}
 .mui_shippingAddress_dec .mui_customerInfoDf .mui_numberDf{
     display:inline-block;
     font-size:0.3783783783783784rem;
     width:40%;
     vertical-align: baseline;
}
 .mui_shippingAddress_dec .mui_customerInfoDf .mui_defaultAddress_ico{
     display:inline-block;
     font-size:0.2702702702702703rem;
     padding:0 0.13513513513513514rem;
     border-radius:0.43243243243243246rem;
     height:0.40540540540540543rem;
     line-height:0.40540540540540543rem;
     vertical-align: super;
}
 .mui_shippingAddress_dec .mui_customerAddess{
     font-size:0.32432432432432434rem;
     color:#000;
     margin:0;
     padding:0 ;
}
 .mui_shippingAddress_dec .mui_radioDf{
     top:50%!important;
     margin-top:-0.35135135135135137rem;
}
 .mui_shippingAddress_dec .mui_radioDf[type=radio]:checked:before{
     content:'\e442' ;
}
 .mui_shippingAddress_dec .mui_defaultAddress_ico{
     background-color:red;
     color:#fff;
     text-align:center;
}
 .mui_shippingBtn{
     position:fixed;
     bottom:0.5405405405405406rem;
     left:0;
     width:100%;
}
 .mui_shippingBtn .mui_btnDf{
     background-color:#0091FF;
     border-color:#0091FF;
}
/* 键盘 */
 #keyboard {
     background-color: #fff;
     text-align: center;
}
 #keyboard .mui-row {
     display: flex;
}
 #keyboard .mui-key-btn {
     flex: 1;
     padding: 0.2972972972972973rem 0;
     font-size: 0.4864864864864865rem;
}
 #keyboard .mui-key-btn:active {
     background-color: rgba(0,0,0,.1);
}
 #keyboard .mui-key-btn.no:active {
     background-color: inherit;
}
 #keyboard .mui-row+.mui-row{
     border-top: 0.02702702702702703rem solid #ccc;
}
 #keyboard .mui-key-btn + .mui-key-btn {
     border-left: 0.02702702702702703rem solid #ccc;
}
 .mui-key-header {
     text-align: center;
     background-color: #F2F2F2;
     padding-bottom: 0.8108108108108109rem;
}
 .mui-key-title {
     border-bottom: 0.02702702702702703rem solid #ccc;
     background-color: #fff;
     padding: 0.2972972972972973rem 0.40540540540540543rem;
}
 .mui-key-tip {
    /*background-color: #ccc;
     */
     padding-top: 0.5405405405405406rem;
}
 .mui-key-tip .mui-num {
     padding-bottom: 0.5405405405405406rem;
     padding-top: 0.2702702702702703rem;
     font-size: 0.6486486486486487rem;
     font-weight: bold;
}
 .mui-key-box {
     width: 8.108108108108109rem;
     display: flex;
     margin-left: auto;
     margin-right: auto;
     border: 1px solid #ccc;
     background-color: #fff;
     border-radius: 0.10810810810810811rem;
}
 .mui-key-box .mui-box-item {
     flex: 1;
     position: relative;
     height: 1.0810810810810811rem;
}
 .mui-key-box .mui-box-item.mui-inputed:before {
     content: ' ';
     display: block;
     position: absolute;
     top: 50%;
     left: 50%;
     margin-top: -0.10810810810810811rem;
     margin-left: -0.10810810810810811rem;
     width: 0.21621621621621623rem;
     height: 0.21621621621621623rem;
     background-color: #000;
     border-radius: 2.7027027027027026rem;
}
 .mui-key-box .mui-box-item + .mui-box-item {
     border-left: 0.02702702702702703rem solid #ccc;
}
/* 商品添加 */
 .mui_goodsAdd_group{
     margin:0!important;
}
 .mui_goodsAdd_group:after{
     display:none;
}
 .mui_goodsAdd_group:before{
     display:none;
}
 .mui_goodsAdd_group .mui-active{
     background-color:transparent;
}
 .mui_goodsAdd_item{
     padding-left:2.027027027027027rem;
     padding:0 0.2702702702702703rem 0 2.1621621621621623rem;
}
 .mui_goodsAdd_item:after{
     left:2.027027027027027rem!important;
     right:auto;
     width:100%;
     background-color:#000;
}
 .mui_goodsAdd_item .mui-icon-arrowright{
     position:absolute;
     right:0.2702702702702703rem;
     top:50%;
     transform: translateY(-50%);
     color:#000;
     z-index: -1;
     font-size:0.43243243243243246rem;
}
 .mui_goodsAdd_item .mui-icon-arrowright:after{
     right:0;
     color:#000;
}
 .mui_goodsAdd_item .mui-icon-arrowright:before{
     right:0;
     color:#000;
}
 .mui_item_shortLabel{
     padding-left:1.4864864864864864rem;
}
 .mui_item_shortLabel:after{
     left:1.3513513513513513rem!important;
}
 .mui_item_midLabel{
     padding-left:1.7567567567567568rem;
}
 .mui_item_midLabel:after{
     display:none;
}
 .mui_goodsAdd_item label{
     font-size:0.32432432432432434rem;
     position:absolute;
     left:0.40540540540540543rem;
     top:0.13513513513513514rem;
}
 .mui_goodsAdd_item input{
     padding:0 0.13513513513513514rem;
     margin:0;
     height:0.8108108108108109rem;
     border:0;
     font-size:0.32432432432432434rem;
     background-color:transparent;
}
 .mui_textEditArea_row{
     padding-left:0.40540540540540543rem;
}
 .mui_textEditArea_row:after{
     display:none;
}
 .mui_textEditArea{
     margin-top:0.8108108108108109rem;
}
 .mui_textEditArea textarea{
     margin-bottom:0;
}
 .mui_goodsAdd_item .mui-file{
     background:#f2f2f2;
     border:solid 1px #e2e2e2;
     border-radius:0.10810810810810811rem;
     position:relative;
     min-height:2.7027027027027026rem;
     margin-top:0.8108108108108109rem;
     text-align: center;
}
 .mui_goodsAdd_item .mui-file input[type=file]{
     position:absolute;
     left:0;
     top:0;
     width:100%;
     height:100%;
     font-size:0;
     background-color:transparent;
     z-index:12;
	  -webkit-appearance: none;
}

 .mui_goodsAdd_item .mui-file input[type=file]:after{
    position:absolute;
     top:0;
     left:0;
     width:30px;
     height:0.2702702702702703rem;
     background:#f2f2f2;
     z-index: 11;
     content: "";
     border-radius:0.10810810810810811rem;
}
 .mui_goodsAdd_item .mui-file .mui-upload{
     font-size:0.3783783783783784rem;
     color:#aaa;
     text-align:center;
     position:absolute;
     left:50%;
     top:50%;
     transform: translate(-50% ,-50%);
     -webkit-transform: translate(-50% ,-50%);
     z-index: 11;
}
 .mui_goodsAdd_item .mui-file .mui-upload .mui-icon-plusempty{
     width:100%;
}
 .mui_addGoods_content{
     background:#fff;
}
 .mui-addGoods-saveCase{
     position:fixed;
     bottom:0;
     left:0;
     width:100%;
     padding:0 0.2702702702702703rem 0.40540540540540543rem 0.2702702702702703rem;
     background:#fff;
}
 .mui-addGoods-saveCase .mui-btn{
     height:1.0810810810810811rem;
     padding:0;
     font-size:0.43243243243243246rem;
     margin:0;
}
 .pinjia:before{
	 display: none;
 }
 .pinjia:after{
	 display:none;
 }