#keyboard {
     background-color: #fff;
     text-align: center;
}
 #keyboard .mui-row {
     display: flex;
}
 #keyboard .mui-key-btn {
     flex: 1;
     padding: 0.2972972972972973rem 0;
	 padding-top: 0.4864864864864865rem;
     padding-bottom: 0.4864864864864865rem;
	 font-size: 0.6486486486486487rem;
}
 #keyboard .mui-key-btn:active {
     background-color: rgba(0,0,0,.1);
}
 #keyboard .mui-key-btn.no:active {
     background-color: inherit;
}
 #keyboard .mui-row+.mui-row{
     border-top: 0.02702702702702703rem solid #f2f2f2;
}
 #keyboard .mui-key-btn + .mui-key-btn {
     border-left: 0.02702702702702703rem solid #f2f2f2;
	
}
 .mui-key-header {
     text-align: center;
	 background-color:#ececec;
     padding-bottom: 0.8108108108108109rem;
}
 .mui-key-title {
     border-bottom: 0.02702702702702703rem solid #ccc;
     background-color: #fff;
     padding: 0.3972972972972973rem 0.40540540540540543rem;
	 font-size:0.4864864864864865rem;
}
 .mui-key-tip {
    /*background-color: #ccc;
     */
     padding-top: 0.5405405405405406rem;
}
 .mui-key-tip .mui-num {
     padding-bottom: 0.5405405405405406rem;
     padding-top: 0.2702702702702703rem;
     font-size: 0.6486486486486487rem;
     font-weight: bold;
}
 .mui-key-box {
     width: 8.108108108108109rem;
     display: flex;
     margin-left: auto;
     margin-right: auto;
     border: 1px solid #dcdcdc;
     background-color: #fff;
     border-radius: 0;
}
 .mui-key-box .mui-box-item {
     flex: 1;
     position: relative;
     height: 1.301081rem;
}
 .mui-key-box .mui-box-item.mui-inputed:before {
     content: ' ';
     display: block;
     position: absolute;
     top: 50%;
     left: 50%;
     margin-top: -0.10810810810810811rem;
     margin-left: -0.10810810810810811rem;
     width: 0.21621621621621623rem;
     height: 0.21621621621621623rem;
     background-color: #000;
     border-radius: 2.7027027027027026rem;
}
 .mui-key-box .mui-box-item + .mui-box-item {
     border-left: 0.02702702702702703rem solid #f2f2f2;
}
 .mui-bar-nav a.mui-icon-arrowleft:before{
     vertical-align: middle;
}
 .mui_navBack_label{
     font-size:0.43243243243243246rem;
     vertical-align: middle;
}
 header{
     background:#fff!important;
}
 .mui_payWay_group{
     background:transparent;
     margin-bottom:0.40540540540540543rem;
     padding-top:0.13513513513513514rem;
}
 .mui_payWay_group .mui-input-row {
     padding-left:0.40540540540540543rem;
     margin-top:0.2702702702702703rem;
     background:#fff;
     height:1.3513513513513513rem;
     line-height:1.3513513513513513rem;
}
 .mui_payWay_group .mui-input-row:after{
     display:none;
}
 .mui_payWay_group .mui_icoDf{
     width:0.8108108108108109rem;
     height:0.8108108108108109rem;
     border-radius:50%;
     overflow: hidden;
     vertical-align: middle;
}
 .mui_payWay_group .mui_labelDf{
     vertical-align: middle;
     font-size:0.3783783783783784rem;
     width:auto;
}
 .mui_payWay_group .mui_labelDf span{
     font-size:0.32432432432432434rem;
}
 .mui_payWay_group .mui_radioDf{
     font-size:0.3783783783783784rem;
     top:50%!important;
     margin-top:-0.3783783783783784rem;
}
 .mui_payWay_group .mui_radioDf[type=radio]:before{
     font-size:0.7567567567567568rem;
}
 
 .mui_payWay_group .mui_radioDf[type=radio]:checked:before{
     content:'\e442';
}
 .mui_orderCounts_case{
     background-color:#fff;
     padding:0.13513513513513514rem 0.40540540540540543rem;
}
 .mui_orderCounts_case .mui_titleDf{
     color:#000;
     padding-bottom:0.13513513513513514rem;
}
 .mui_orderCounts_case .mui_priceDf{
     color:#000;
     font-size:0.5405405405405406rem;
     border-bottom:solid 0.02702702702702703rem #f2f2f2;
}
 .mui_agencyCheckoutCounter_btnRow{
     padding:0 0.40540540540540543rem;
     margin-top:0.8108108108108109rem;
}
 .mui_agencyCheckoutCounter_btnRow .mui-btn{
     height:1.0810810810810811rem;
     padding:0;
     font-size:0.3783783783783784rem;
     line-height:1.0810810810810811rem;
}
 .del{
	 background:url(../img/ico_delete.png) no-repeat center #ececec!important;
	 background-size: .9rem 0.8rem!important;
 }