body {
     background-color: #f2f2f2;
}
 .mui-bar-nav {
     -webkit-box-shadow: 0 0.02702702702702703rem 0.16216216216216217rem transparent !important;
     box-shadow: 0 0.02702702702702703rem 0.16216216216216217rem transparent !important;
	 background-color:#fff;
}
 .mui-bar {
     -webkit-box-shadow: 0 0 0.02702702702702703rem transparent !important;
     box-shadow: 0 0 0.02702702702702703rem transparent !important;
}
 .mui-titles {
     font-size:0.40540540540540543rem;
}
 .mui-left-icon{
     color:#fff;
}
 .mui-bg-color{
     background-color:#57a9ff;
}
 .mui-box-bg{
     width:100%;
     padding:0.5405405405405406rem 0rem;
     background-color:#57a9ff;
}
 .mui-center-box{
     width:33.33%;
     margin:0 auto;
}
 .mui-center-box p{
     color:#fff;
     text-align: center;
}
 .mui-buttom-box{
     width:100%;
     height:0.8108108108108109rem;
     padding-top:0.13513513513513514rem;
     background-color:#2a92ff;
}
 .mui-p-font{
     font-size:0.972972972972973rem;
}
 .mui-left-border{
     height:80%;
     border-right:0.02702702702702703rem solid #aec3d8;
}
 .mui-buttom-width{
     width:50%;
     color:#fff;
     font-size:0.32432432432432434rem;
     line-height:0.5405405405405406rem;
     text-align:center;
}
 .mui-btn-color{
     background-color:#2a92ff !important;
}
 .mui-list-box{
     width:100%;
     background-color:#fff;
}
 .mui-bold{
     color:#000;
}
 .mui-pad-top{
     margin-top:0.6756756756756757rem;
}
 .mui-price-warpper {
     margin-top: 0.2702702702702703rem;
     padding: 0.2972972972972973rem 0.40540540540540543rem;
     background-color: #fff;
}
 .mui-price-warpper .mui-input-box {
     padding-top: 0.21621621621621623rem;
     padding-bottom: 0.10810810810810811rem;
     border-bottom: 0.02702702702702703rem solid #f2f2f2;
}
 .mui-price-warpper .mui-input-box input{
     border: none;
     padding-left: 0.16216216216216217rem;
}
 .mui-btn-warpper {
     padding: 0.40540540540540543rem;
}
 .mui-btn-warpper .mui-btn {
     padding: 0.21621621621621623rem 0;
}
 .mui-table-view-cell.have-icon {
     padding: 0 0.40540540540540543rem 0 0.16216216216216217rem;
    /*padding-left: ;
     */
}
 .mui-tip {
     padding-top: 0.2702702702702703rem;
     font-size: 0.32432432432432434rem;
}
 .mui-tip>span {
     color: red;
}
 .mui-btn-blue {
     background-color: #74c3ff;
     border-color: #74c3ff;
}
 .mui-table-view:after, .mui-table-view:before {
     height: 0;
}
 #keyboard {
     background-color: #fff;
     text-align: center;
}
 #keyboard .mui-row {
     display: flex;
}
 #keyboard .mui-key-btn {
     flex: 1;
     padding: 0.2972972972972973rem 0;
     font-size: 0.4864864864864865rem;
}
 #keyboard .mui-key-btn:active {
     background-color: rgba(0,0,0,.1);
}
 #keyboard .mui-key-btn.no:active {
     background-color: inherit;
}
 #keyboard .mui-row+.mui-row{
     border-top: 0.02702702702702703rem solid #f2f2f2;
}
 #keyboard .mui-key-btn + .mui-key-btn {
     border-left: 0.02702702702702703rem solid #f2f2f2;
}
 .mui-key-header {
     text-align: center;
     background-color: #F2F2F2;
     padding-bottom: 0.8108108108108109rem;
}
 .mui-key-title {
     border-bottom: 0.02702702702702703rem solid #ccc;
     background-color: #fff;
     padding: 0.2972972972972973rem 0.40540540540540543rem;
}
 .mui-key-tip {
    /*background-color: #ccc;
     */
     padding-top: 0.5405405405405406rem;
}
 .mui-key-tip .mui-num {
     padding-bottom: 0.5405405405405406rem;
     padding-top: 0.2702702702702703rem;
     font-size: 0.6486486486486487rem;
     font-weight: bold;
}
 .mui-key-box {
     width: 8.108108108108109rem;
     display: flex;
     margin-left: auto;
     margin-right: auto;
     border: 1px solid #e6e1e1;
     background-color: #fff;
     border-radius: 0.10810810810810811rem;
}
 .mui-key-box .mui-box-item {
     flex: 1;
     position: relative;
     height: 1.0810810810810811rem;
}
 .mui-key-box .mui-box-item.mui-inputed:before {
     content: ' ';
     display: block;
     position: absolute;
     top: 50%;
     left: 50%;
     margin-top: -0.10810810810810811rem;
     margin-left: -0.10810810810810811rem;
     width: 0.21621621621621623rem;
     height: 0.21621621621621623rem;
     background-color: #000;
     border-radius: 2.7027027027027026rem;
}
 .mui-key-box .mui-box-item + .mui-box-item {
     border-left: 0.02702702702702703rem solid #e6e1e1;
}
 .mui-align-right{
	 color:#000;
	 line-height: 1.2702702702702702rem;
	 font-size:0.40540540540540543rem;
 
 }
 .mui-action-back{
	 color:#000;
 }
 .mui-table-view-chevron .mui-media .mui-ellipsis {
	 /* left: 0; */
	 color: black;
 }
 .mui_rmb_unit{
	  font-size: 0.4594594594594595rem;
 }
 .del{
	 background:url(../img/ico_delete.png) no-repeat center #ececec!important;
	 background-size: .9rem 0.8rem!important;
 }